@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
.root {
  --font-size: 32px;
  --font-weight: 700;
}
body {
  font-family: 'Manrope', sans-serif;
  padding: 50px 150px;
  overflow-x: hidden;
}
